.container {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    background: #e5e5e5;
    height: 100vh;
}

.appBar {
    margin-bottom: 20px;
}

@media (min-width: 1000px)  {
    .content {
        width: 80%;
    }
}

@media (min-width: 1200px)  {
    .content {
        width: 60%;
    }
}
